#s3slider {
	width: 995px; /* important to be same as image width */
	height: 378px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
}
#s3sliderContent {
	width: 995px; /* important to be same as image width or wider */
	position: absolute; /* important */
	top: 0; /* important */
	margin-left: 0; /* important */
}
.s3sliderImage {
	float: left; /* important */
	position: relative; /* important */
	display: none; /* important */
}
.s3sliderImage span {
	background:url(../images/content_slide.png) repeat-x;
	position: absolute; /* important */
	right: 0;
	left: 0;
	font-family: Georgia, Garamond, serif;
	padding: 20px;
	width: 995px;
	z-index:500;
	background-color: #000;
	filter: alpha(opacity=70); /* here you can set the opacity of box with text */
	-moz-opacity: 0.7; /* here you can set the opacity of box with text */
	-khtml-opacity: 0.7; /* here you can set the opacity of box with text */
	opacity: 0.7; /* here you can set the opacity of box with text */
	color: #000;
	display: none; /* important */
	bottom: 0;/*
       if you put
       top: 0; -> the box with text will be shown at the top of the image 
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

.s3sliderImage span h3 {
	font-size:18px;
	padding:0 0 10px 0;
}

.s3sliderImage span p {
	font-size:14px;
	line-height:1.4em;
	padding:0;
}

#slider-readmore {
	color:#005BA7;
}
.clear {
	clear: both;
}